html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background: rgba(31, 31, 31, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(31, 31, 31, 1) 50%,
    rgba(199, 36, 177, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(31, 31, 31, 1)),
    color-stop(50%, rgba(31, 31, 31, 1)),
    color-stop(100%, rgba(199, 36, 177, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(31, 31, 31, 1) 50%,
    rgba(199, 36, 177, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(31, 31, 31, 1) 50%,
    rgba(199, 36, 177, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(31, 31, 31, 1) 50%,
    rgba(199, 36, 177, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(31, 31, 31, 1) 50%,
    rgba(199, 36, 177, 1) 100%
  );
}

.container {
  padding: 3em;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  font-weight: 300;
  margin: auto 16px 8px;
}

h2 {
  font-weight: 400;
  font-size: 1em;
}

p {
  text-align: center;
  margin: auto 16px 16px;
}

span.purple {
  color: #ff88e3;
}

span.versus {
  font-size: 2em;
  padding: 0 1em;
}

hr {
  max-width: 48px;
  box-shadow: none;
  margin: 2em auto;
  border-color: #ff88e3;
}

button {
  padding: 1em 3em;
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  border-radius: 50%;
  background: #fff;
  color: rgba(46, 46, 46, 1);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
  border: 0;
  display: flex;
  flex-direction: column;
}

button img {
  display: block;
  width: 60px;
  height: 50px;
  margin-bottom: 4px;
  margin-top: -10px;
  transform: rotate(0deg);
  transition: 0.2s all ease-in-out;
}

button:hover {
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(221, 89, 250, 0.9);
  border: 1px solid #ffa6f3;
}

button:hover > img {
  transform: rotate(-35deg);
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.info-container.win-lose-msg {
  font-size: 1.6em;
  font-weight: 300;
  margin-top: 2em;
}

#btn-container {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 5em;
  position: absolute;
  top: 0;
  left: 40px;
  flex-direction: column;
}

img {
  display: none;
  height: 250px;
  width: 250px;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.show {
  display: block;
}

.img-container {
  background-image: url(./images/rock-paper-scissors-neon-icons-08.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  border-radius: 12px;
}

.score-item {
  font-size: 5em;
}

.cpu-rotate {
  transform: rotate(-90deg);
  transition: 0.2s all ease;
}

.player-rotate {
  transform: scaleX(-1) rotate(-90deg);
  transition: 0.5s all ease;
}
